/*-------Navigation CSS-------*/
.anav
{
margin-left:4%; margin-top:58px;height:32px;
width: 100%;
    display: flex;
    align-items: center;
    padding: 0 50px;z-index: 99;
}

.megaicon
{
font-size:32px;
}

.icon
{
margin-left:100px;font-size:150%;color:black;
}

.signin
{
 color:blue; background-color: #FFFFFF; font-size:20px;
float:right;
margin-left:10%;
width: 156px;
height: 60px;
border: 2px solid #0F47C0;
border-radius: 32px;
}

.freetrial
{
font-size:20px;
float:right;
width: 156px;
color:white;
height: 60px;
background: #0F47C0; no-repeat padding-box;
border-radius: 32px;
opacity: 1;
}

/*------------body CSS-------------*/
body
{
overflow-y: scroll;
overflow-x: hidden;
@media only screen and (max-width: 600px) {
    background-color: lightblue;
  }
}

/*-------------SECTION 1--------*/
.section1h
{
margin-left:200px;color: var(--unnamed-color-181818);
text-align: left;
font: normal normal bold 86px/122px Inter;
letter-spacing: 1.2px;
color: #181818;
float:left;position:absolute;
opacity: 1;top: 120px;
z-index:4;

}

.section1
{
display: flex;background:#F6F7F9;
}

.s1i1
{
margin-left:6.9%;margin-top:-50%;z-index:1position:relative;
}
.s1i2
{z-index:2;
background: transparent 0% 0% no-repeat padding-box;
position:absolute;margin-left:45%;width:50%;
opacity: 1;margin-top:-2%;
}
.s1i3
{
z-index:3;
background: transparent 0% 0% no-repeat padding-box;
margin-left:10%;position:relative;display:inline-block;
opacity: 0.5;margin-top:29%;
}
.s1i4
{ 
z-index:2;
background: transparent 0% 0% no-repeat padding-box;
margin-left:-75%;position:relative;display:inline-block;
opacity: 1;margin-top:32%;
}

.s1b1
{
 font-size:20px;
width: 156px;
color:white;
height: 60px;z-index:4;
background: #000000; no-repeat padding-box;
border-radius: 32px;
opacity: 1;
}

/*------------SECTION 2-----------------*/

.section2
{
display:flex;
}

.s2h
{
margin-left:500px;font:normal normal bold 86px/122px Inter;
position:absolute;

}

.ak{display:none;
width:450px;height:428px;margin-left:30px; background: #FFFFFF 0% 0% no-repeat padding-box;opacity: 1;
display: inline-block;
}
.ak:hover .ak1:hover {
   border:0.5px solid #ccc;
   box-shadow: 0px 25px 30px #7474741A;
}

.ak1
{display:none;
width:450px;height:428px; margin-left:255px; background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;display: inline-block; 
}

.s2i1
{
position:absolute;z-index:0;margin-top:-80px;
}

.s2i3
{
position:relative;z-index:1;
}

.s2i2
{
position:absolute;z-index:2;left:282px;margin-top:-60px;
}

.s2i4 
{
position:relative;z-index:2;left:-15.6%;top:-20px;
}

.s2i5
{
position:relative;z-index:1;
}

.s2i6 
{
position:relative;z-index:2;left:-15.6%;top:-20px;
}
